kabbes_py_starter>=0.8.0
kabbes_parent_class>=0.5.0
kabbes_dir_ops>=0.7.0
kabbes_analytics_packages>=0.5.0
kabbes_aws_connections<=0.5.0
kabbes_aws_credentials>=0.6.0
kabbes_real_time_input>=0.3.0
kabbes_user_profile>=0.8.0
kabbes_nanoid>=0.6.0
kabbes_database_connections>=0.5.0
kabbes_ml_pipeline>=0.5.0
kabbes_repository_generator>=0.8.0
kabbes_pypi_builder>=0.8.0
kabbes_smart_documentation>=0.3.0